# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-pane[data-active-item-name$=\\.jscad] atom-text-editor': [
    {
      'label': 'Preview JSCAD'
      'command': 'atom-jscad:preview'
    }
  ]
  'atom-pane[data-active-item-name$=\\.scad] atom-text-editor': [
    {
      'label': 'Preview SCAD'
      'command': 'atom-jscad:preview'
    }
  ]
  '.tree-view .file .name[data-name$=\\.jscad]': [
    {
      'label': 'Preview JSCAD'
      'command':  'atom-jscad:preview'
    }
  ]
  '.tree-view .file .name[data-name$=\\.scad]': [
    {
      'label': 'Preview SCAD'
      'command':  'atom-jscad:preview'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'JSCAD'
      'submenu': [
        {
          'label': 'Preview'
          'command': 'atom-jscad:preview'
        },
        {
          'label': 'Paste sample'
          'command': 'atom-jscad:paste-sample'
        }
      ]
    ]
  }
]
