// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-scad-preview {
  display: flex;
  flex-direction: column;

  .atom-scad-preview-viewer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .viewer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .viewer canvas {
    position: relative;
  }

  .parametersdiv {}

  .parameterstable {}

  div.topstatus {
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
    align-content: space-between;
  }

  .statusdiv {
    position: absolute;
    z-index: 1;
  }

  .hidden {
    display: none;
  }

  div.parameterstable table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
  }

  div.parameterstable table tr {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }

  div.parameterstable table td,
  div.parameterstable table th {}

  div.versiondiv {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }

  div.logging-overlay {
    position: absolute;
    z-index: 1;
    top: 2em;
    max-width: 60%;
    max-height: 50%;
  }

  div.errordiv {
    overflow: auto;
  }

  div.logdiv {
    min-height: 2em;
    max-height: 20em;
    overflow: scroll;
    font-family: Hack, monospace;
  }

  div.logdiv div.log-line.log-debug {
    color: limegreen;
  }
  div.logdiv div.log-line.log-info,
  div.logdiv div.log-line.log-log {
    color: white;
  }
  div.logdiv div.log-line.log-warn {
    color: orange;
  }
  div.logdiv div.log-line.log-error {
    color: blue;
  }
  span.arg-object {
    white-space: pre-wrap;
  }
}
