// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-jscad-preview {

  user-select: none;
  -webkit-user-select: none;

  .statusdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .parametersdiv {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(192,192,192,.5);
    padding: 5px;
    border-radius: 5px;

    button {
      float: right;
    }
  }
  .parameterstable {
    min-width: 200px;
    max-height: 100px;
    overflow: auto;
    display: block;

    margin: .5em 0;

    td {
      padding-right: 1em;
      user-select: all;
      -webkit-user-select: all;
    }
  }
}

.statusdiv {
  padding: 1em;
}
